

<%= form_for [@country, @inflation], :html => {:class => 'form-horizontal'} do |f| %>

	<% if @inflation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inflation.errors.count, "error") %> prohibited this inflation from being saved:</h2>

      <ul>
      <% @inflation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <label for="inputYear" class="control-label col-xs-2">Year</label>
      <div class="col-xs-2">
        <%= f.text_field :year, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <label for="inputInflation" class="control-label col-xs-2">Year</label>
      <div class="col-xs-10">
        <%= f.text_field :inflation, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <%= f.submit "Save", {:class => "btn btn-primary"} %>
      </div>
    </div>

<% end %>
