

<%= form_for ([@country, @inflation]) do |f| %>

	<% if @inflation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inflation.errors.count, "error") %> prohibited this inflation from being saved:</h2>

      <ul>
      <% @inflation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :inflation %><br>
    <%= f.text_field :inflation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
