<h1>Listing inflations for <%= @country.name %></h1>
<h5><%= link_to "Select another country", countries_path %></h1>

<table>
  <thead>
  <tr>
	<th>Country ID</th>
	<th>Country</th>
	<th>Year</th>
	<th>Inflation</th>
	<th></th>
	<th></th>
	<th></th>
  </tr>
  </thead>

  <tbody>
  <% @inflations.each do |inflation| %>
	  <tr>
		<td><%= inflation.country_id %></td>
		<td><%= inflation.country.name if inflation.country %></td>
		<td><%= inflation.year %></td>
		<td><%= inflation.inflation %></td>
		<td><%= link_to "Delete", country_inflation_path(@country,inflation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
  <% end %>
  </tbody>


</table>

<h1>Add inflation figure </h1>
<%= form_for ([@country, Inflation.new]) do |f| %>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :inflation %><br>
    <%= f.text_field :inflation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<br>


