<div class="authform">
  <%= simple_form_for(@country) do |f| %>
      <%= f.error_notification %>

      <div class="form-group">
        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :code %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
  <% end %>
</div>

<div class="authform">
  <% if !@country.inflations.blank? %>
      <% for item in @country.inflations %>
          <div>
            year: <%= item.year %>
            inflation: <%= item.inflation %>
          </div>
      <% end %>
  <% else %>

  <% end %>
</div>

<div class="authform">
  <%= form_for ([@country, Inflation.new]) do |f| %>

      <div class="form-group">
        <div class="field">
          <%= f.label :year %>
          <br>
          <%= f.number_field :year %>
        </div>
        <div class="field">
          <%= f.label :inflation %>
          <br>
          <%= f.text_field :inflation %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
</div>
