<h1>Listing products</h1>

<% count = 0 %>

  <% @products.each do |product| %>

      <% add_row = count % 3 == 0 %>
      <% close_row = count % 3 == 2 %>

      <% if add_row %>
	    <div class="row">
      <% end %>

		<div class="col-sm-4">

		  <div class="facebook-header">
			<%= link_to product.name, product_path(product) %>
		  </div>

		  <div class="facebook-frame">
			<div class="person-news">
			  <div class="person-news-header">Latest news and updates:</div>
			  <ul>
				<li>
				  <div class="product"><%= product.name %></div>
				</li>
                <li>
                  <div class="product_country"><%= product.country.name if product.country %></div>
                </li>
				<li>
				  <div class="product_type"><%= product.ptype %></div>
				</li>
				<li>
				  <div class="product_desc"><%= product.desc %></div>
				</li>
			  </ul>
			</div>
		  </div>

		  <%= link_to 'Show', product %>
		  <%= link_to 'Edit', edit_product_path(product) %>
		  <%= link_to 'Destroy', product, method: :delete, data: {confirm: 'Are you sure?'} %>
		</div>

    <% if close_row %>
        </div>
    <% end %>

      <% count = count + 1 %>


  <% end %>

</div>

