<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Cape" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Cape" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>


  	<div class="container">

  		<div class="row row-offcanvas row-offcanvas-right">

  			<div class="col-9">
  				<div class="jumbotron">
  					<h1>CAPE Ratio Database</h1>
  					<p>Cyclically Adjusted Price-to-Earnings Ratio</p>
  				</div>

  				<%= yield %>

  			</div>

  			<div class="col-3" id="sidebar" role="navigation">
  				<h5>Picture here</h5>
  			</div>

  		</div>

  		<hr>

  		<footer>
  			<p>&copy; Cape Company 2014</p>
  		</footer>

  	</div><!--/.container-->



<!--    <main role="main">
       < % = render 'layouts/messages' % >
       < % = yield % >
    </main>  -->

  </body>
</html>
