<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Cape" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Cape" %>">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <div class="row hidden-xs col-12-xs">
      <div class="jumbotron">
        <h1>CAPE Ratio Database</h1>
        <p>Cyclically Adjusted Price-to-Earnings Ratio</p>
      </div>
  </div>

  <div class="row col-12-xs">
      <%= yield %>
  </div>

  <hr>

  <footer>
    <p>&copy; Cape Company 2014</p>
  </footer>

</div>

</body>
</html>
